* {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
 }
 /*Tabela*/
 .listajte{
    color: white;
    font-size: 15px;
    text-align: center;
    display: none;
}
@media(max-width: 700px){
    .listajte{
        display: flex;
        font-size: 15px;
        text-align: center;
        color: white;
        padding: 10px;
        padding-left: 10%;
        margin: auto;
    }
}
.tabela-h1 h1{
    text-align: center;
    color: white;
}
#tabela{
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#tabela td, #tabela tr{
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
    background-color: darkgrey;
}
#tabela th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: orangered;
    color: white;
}
#ukupna_cena p{
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-left: 65%;
}
#ukupna_cena button{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 70%;
    font-size: 25px;
    background-color: lightgrey;
    color: black;
}
 
 /*Header*/
 .header{
     min-height: 100vh;
     width: 100%;
     background-color: grey;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Slike/pozadina_korpa.jpeg);
     background-position: center;
     background-size: cover;
     position: relative;
 }
 nav{
     display: flex;
     padding-right: 100px;
     justify-content: space-between;
     align-items: center;
 }
 nav img{
     width: 150px;
 }
 .nav-links{
     flex: 1;
     text-align: right;
 }
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }
 .nav-links ul li a{
     color:white;
     text-decoration: none;
     font-size: 15px;
 }
 .nav-links ul li::after{
     content: "";
     width: 0%;
     height: 2px;
     background: orangered;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 .nav-links ul li:hover::after{
     width: 100%;
 }
 .nav-links ul li #dzojstik{
    padding-right: 700px;
    text-align: left !important;
    font-size: 50px;
    color: orangered;
    background: transparent;
}
.nav-links ul li #dzojstik{
    padding-right: 700px;
    text-align: left !important;
    font-size: 50px;
    color: orangered;
    background: transparent;
}
 
 /*Sign Up/In*/
 .show-modal{
     color: black;
     font-size: 15px;
     font-weight: 600;
     text-transform: capitalize;
     padding: 5px 10px;
     margin: 200px auto 0;
     border: none;
     outline: none;
     display: block;
     transition: all 0.3s ease 0s;
 }
 
 .show-modal:hover,
 .show-modal:focus{
     color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
     outline: none;
 }
 .modal-dialog{
     width: 400px;
     margin: 70px auto 0;
 }
 .modal-dialog{ transform: scale(0.5); }
 .modal-dialog{ transform: scale(1); }
 .modal-dialog .modal-content{
     text-align: center;
     border: none;
 }
 .modal-content .close{
     color: #fff;
     background: orangered;
     font-size: 25px;
     font-weight: 400;
     text-shadow: none;
     line-height: 27px;
     height: 25px;
     width: 25px;
     border-radius: 50%;
     overflow: hidden;
     opacity: 1;
     position: absolute;
     left: auto;
     right: 8px;
     top: 8px;
     z-index: 1;
     transition: all 0.3s;
 }
 /*X dugme*/
 .modal-content .close:hover{
     color: #fff;
     box-shadow: 0 0 5px orangered;
 }
 .close:focus{ outline: none; }
 .modal-body{ padding: 60px 40px 40px !important; }
 .modal-body .title{
     color: orangered;
     font-size: 33px;
     font-weight: 700;
     letter-spacing: 1px;
     margin: 0 0 10px;
 }
 .modal-body .description{
     color: #9A9EA9;
     font-size: 16px;
     margin: 0 0 20px;
 }
 .modal-body .form-group{
     text-align: left;
     margin-bottom: 20px;
     position: relative;
 }
 .modal-body .input-icon{
     color: #777;
     font-size: 18px;
     transform: translateY(-50%);
     position: absolute;
     top: 50%;
     left: 20px;
 }
 /*Email i pass*/
 .modal-body .form-control{
     font-size: 17px;
     height: 45px;
     width: 100%;
     padding: 6px 0 6px 50px;
     margin: 0 auto;
     border: 2px solid #eee;
     border-radius: 5px;
     box-shadow: none;
     outline: none;
 }
 .form-control::placeholder{
     color: #AEAFB1;
 }
 .form-group.checkbox{
     width: 130px;
     margin-top: 0;
     display: inline-block;
 }
 .form-group.checkbox label{
     color: #9A9EA9;
     font-weight: normal;
 }
 .form-group.checkbox input[type=checkbox]{
     margin-left: 0;
 }
 /*Zaboravljena lozinka*/
 .modal-body .forgot-pass{
     color: orangered;
     font-size: 13px;
     text-align: right;
     width: calc(100% - 135px);
     margin: 2px 0;
     display: inline-block;
     vertical-align: top;
     transition: all 0.3s ease 0s;
 }
 .forgot-pass:hover{
     color: #9A9EA9;
     text-decoration: underline;
 }
 /*Login dugme unutra*/
 .modal-content .modal-body .btn{
     color: #fff;
     background: orangered;
     font-size: 16px;
     font-weight: 500;
     letter-spacing: 1px;
     text-transform: uppercase;
     line-height: 38px;
     width: 100%;
     height: 40px;
     padding: 0;
     border: none;
     border-radius: 5px;
     border: none;
     display: inline-block;
     transition: all 0.6s ease 0s;
 }
 .modal-content .modal-body .btn:hover{
     color: #fff;
     letter-spacing: 2px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 #dugme{
     background-color: orangered;
     margin-top: auto;
 }
 .login-signup{
     background-color:transparent;
     display: inline-flex;
     margin-left: 81.5%;
 
 }
 /*Glavno*/
 .text-box{
     width: 90%;
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
 }
 .text-box h1{
     font-size: 70px;
 }
 .text-box p{
     margin: 10px 0px 40px;
     font-size: 18px;
     color: white;
 }
 .dugme{
     display: inline-block;
     text-decoration: none;
     color: white;
     border: 1px solid white;
     padding: 12px 34px;
     font-size: 18px;
     background: transparent;
     position: relative;
     cursor: pointer;
 }
 .dugme:hover{
     border: 1px solid orangered;
     background: orangered;
     transition: 1s;
 }
 /*--------Kursevi--------*/
 .kursevi{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 h1{
     font-size: 36px;
     font-weight: 600;
 }
 p{
     color: black;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     padding: 10px;
 }
 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
 }
 .course-col{
     margin: 10;
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
 }
 h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
 }
 .course-col:hover{
     box-shadow: 0 0 20px 0px red;
 }
 nav .fa{
     display: none;
 }
 /*Footer*/
 .footer{
     background-color: lightgrey;
     width: 100%;
     text-align: center;
     padding: 30px 0;
 } 
 .footer h4{
     margin-bottom: 25px;
     margin-top: 20px;
     font-weight: 600;
 }
 .footer-icons{
     display: inline-block;
     font-size: 20px;
     color: orangered;
     margin: 0 13px;
     cursor: pointer;
     padding: 18px 0;
 }
 
 /*Telefon*/
 @media(max-width: 700px){
     .footer p{
         padding: 30px;
     }
     .login-signup{
         margin-left:auto;
         text-align: left;
     }
     .row{
         flex-direction: column;
     }
     .text-box h1{
     font-size: 62px;
     }
     .nav-links ul li{
         display: block;
     }
     .nav-links{
         position: absolute;
         background: orangered;
         height: 100vh;
         width: 150px;
         top: 0;
         right: -200px;
         text-align: left;
         z-index: 2;
         transition: 0.8s;
         text-align: left;
     }
     nav .fa{
         display: block;
         color: white;
         margin: 10px;
         font-size: 22px;
         cursor: pointer;
     }
     nav .fa-bars{
         text-align: left;
     }
     .nav-links ul{
         padding: 30px;
 
     }
 }

 .loginveliki{
    max-width: 50%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    width: 100%;
    padding: 2px;
    margin: 5px 0 5px 0;
    display: flex;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: lightgrey;
    outline: none;
  }
  
  /* Set a style for all buttons */
  #signup-dugme {
    background-color: orangered;
    color: white;
    padding: 12px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    border-radius: 4px;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
    height: 52px;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
    max-width: 5px;
    color: orangered;
  }
  .clearfix{
    color: black;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%S; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  #login12345{
    max-width: 50%;
  }
  #loginmali{
    color: #9A9EA9;
}
#signup__naslov{
    color: orangered;
    text-align: center;
}
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  @media(max-width: 700px){
      #login123{
          max-width: 90vw;
          margin-left: 1%;
          width: 100%;
      }
      #login12345{
        max-width: 90%;
      }
   
    #loginmali{
      max-width: 90vw;
      width: 50%;
      margin-left: 0.5%;
    }
  }